:root{
    --preto: #180107;

}




body{
    background-color: var(--roxo) ;
}
img{
    width: 10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

