:root{
    --preto: #180107;

}




body{
    background-color: var(--black) ;} 

img{
    width: 10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pecas{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.tam{
    width: 40%;
}
.tamanho{
    width: 37%;
}
#equipe{
    display: grid;
    grid-template-columns: 33% 33% ;
    text-align: center;
}

#equipe{
    width: 17%;
}